# ----------------------
# Python (backend)
# ----------------------
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# environment variables
.env

# ----------------------
# Node.js / Frontend
# ----------------------
node_modules/
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------
# OS & Editor
# ----------------------
.DS_Store
Thumbs.db

# VS Code / Cursor
.vscode/
.idea/

# ----------------------
# Sənin əlavə etdiklərin
# ----------------------
ft-base-services-dev_v3.0.0.1/
ft-operation-mng-services-dev_v3.0.0.1/