# MinIO object storage settings

MINIO_API_PORT_BIND=127.0.0.1:19000:9000
MINIO_CONSOLE_PORT_BIND=127.0.0.1:19001:9001

MINIO_ROOT_USER=<replace-with-minio-access-key>
MINIO_ROOT_PASSWORD=<replace-with-minio-secret-key>

MINIO_REGION=us-east-1
MINIO_PUBLIC_ENDPOINT=http://localhost:19000
