# Build-time proxy and dependency settings

BUILD_HTTP_PROXY=
BUILD_HTTPS_PROXY=
BUILD_NO_PROXY=localhost,127.0.0.1,::1,localaddress,.localdomain

BUILD_GOPROXY=https://goproxy.cn,direct
BUILD_GOSUMDB=sum.golang.org
BUILD_GONOPROXY=
BUILD_GONOSUMDB=

BUILD_PIP_INDEX_URL=
BUILD_PIP_EXTRA_INDEX_URL=
BUILD_PIP_TRUSTED_HOST=
BUILD_PIP_TIMEOUT=120
