# ── 依赖 ──────────────────────────────────────
node_modules/

# ── 构建产物 ───────────────────────────────────
dist/
dist-ssr/

# ── 环境变量 ───────────────────────────────────
.env
.env.local
.env.*.local

# ── 日志 ──────────────────────────────────────
*.log
npm-debug.log*

# ── IDE ───────────────────────────────────────
.idea/
.vscode/
*.swp

ft-base-services-dev_v3.0.0.1/
ft-operation-mng-services-dev_v3.0.0.1/